flows.json
[
  {"id":"903a436c.669f1","type":"tab","label":"Cloudant","disabled":false,"info":""},
  {"id":"ac290bbc.e03778","type":"ui_form","z":"903a436c.669f1","name":"","label":"","group":"6a4b7ee2.ccbe1","order":1,"width":0,"height":0,
   "options":
   [
     {"label":"Name","value":"name","type":"text","required":true,"rows":null},
     {"label":"Email id","value":"email","type":"email","required":true,"rows":null}
     ,{"label":"Password","value":"pwd","type":"password","required":true,"rows":null},
     {"label":"Phone No.","value":"phno","type":"number","required":true,"rows":null},
     {"label":"State","value":"state","type":"text","required":true,"rows":null},
     {"label":"Residence","value":"resd","type":"text","required":true,"rows":null}],
   "formValue":{"name":"","email":"","pwd":"","phno":"","state":"","resd":""},
   "payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":120,
   "wires":[["b45ce9a1.488018","93b2bde0.37f6c"]]},
  {"id":"c80bbeb9.34b5f","type":"cloudant out","z":"903a436c.669f1","name":"","cloudant":"","database":"student_details","service":"node-red-ggtrn-cloudant-1591679215729-71490","payonly":true,"operation":"insert","x":680,"y":140,"wires":[]},
  {"id":"b45ce9a1.488018","type":"function","z":"903a436c.669f1","name":"",
   "func":"msg.payload = {\n   _id:msg.payload.email,\n   Name:msg.payload.name,\n   PhoneNo:msg.payload.phno,\n   state:msg.payload.state,\n   Residence:msg.payload.resd ,\n    Emailid:msg.payload.email,\n   Password:msg.payload.pwd\n   \n   \n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":40,"wires":[["c80bbeb9.34b5f"]]},{"id":"93b2bde0.37f6c","type":"function","z":"903a436c.669f1","name":"","func":"msg.payload = \"Hey! \"+msg.payload.name+\" Successfully created an account.\"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["903dc170.16cfc"]]},
  {"id":"903dc170.16cfc","type":"ui_text","z":"903a436c.669f1","group":"6a4b7ee2.ccbe1","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":280,"wires":[]},
  {"id":"c62f838b.7bce3","type":"ui_form","z":"903a436c.669f1","name":"","label":"","group":"3b2ac15f.54a41e","order":1,"width":0,"height":0,"options":[{"label":"Email","value":"email","type":"text","required":true,"rows":null},
  {"label":"Password","value":"pwd","type":"text","required":true,"rows":null}],
   "formValue":{"email":"","pwd":""},
   "payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":400,"wires":[["65496a1.87aa594"]]},
  {"id":"65496a1.87aa594","type":"function","z":"903a436c.669f1","name":"","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"pwd\",msg.payload.pwd);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[["c3919394.69b34"]]},
  {"id":"fd3a3a0.41d96c8","type":"cloudant in","z":"903a436c.669f1","name":"","cloudant":"","database":"student_details","service":"node-red-ggtrn-cloudant-1591679215729-71490","search":"_id_","design":"","index":"","x":780,"y":400,"wires":[["dfbed628.194198","ef3317e6.4985c8"]]},{"id":"c3919394.69b34","type":"function","z":"903a436c.669f1","name":"","func":"var email = global.get(\"email\")\nmsg.payload = {\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["fd3a3a0.41d96c8"]]},{"id":"dfbed628.194198","type":"debug","z":"903a436c.669f1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":400,"wires":[]},{"id":"ef3317e6.4985c8","type":"function","z":"903a436c.669f1","name":"","func":"var pwd = global.get(\"pwd\");\nif(msg.payload.Password==pwd){\n    msg.payload = \"Login Successful\"\n}\nelse{\n    msg.payload = \"Invalid Password\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":500,"wires":[["28dcc831.794648"]]},
  {"id":"28dcc831.794648","type":"ui_text","z":"903a436c.669f1","group":"3b2ac15f.54a41e","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":500,"wires":[]},
  {"id":"6a4b7ee2.ccbe1","type":"ui_group","z":"","name":"New Account","tab":"fc6b44b2.754e08","order":1,"disp":true,"width":"6","collapse":false},
  {"id":"3b2ac15f.54a41e","type":"ui_group","z":"","name":"Login","tab":"ee408d7c.f7294","order":1,"disp":true,"width":"6","collapse":false,"disabled":false,"hidden":false},
  {"id":"fc6b44b2.754e08","type":"ui_tab","z":"","name":"User","icon":"Transport","disabled":false,"hidden":false},
  {"id":"ee408d7c.f7294","type":"ui_tab","z":"","name":"Login","icon":"","disabled":false,"hidden":false}]
